@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-container{
    width: 100%;
    min-height: 100vh;
    display: flex; 
}
.bg-1{
    flex: 1;
    background: linear-gradient(147deg,#f6b323 0%, #f23b26 74%);
}

.about-container{
    width: 85%;
    min-height: 80vh;
    position: absolute;
    background-color: white;
    box-shadow: 6px 6px 20px #6d8dad;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 5px;
}

.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.image-container img {
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
}
.image-container:hover{
    transform: scale(1.1);
    z-index: 2;
}

.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 22px;
}
.text-container h1{
    font-size: 70px;
    padding: 20px 0px;
}
.text-container a{
    text-decoration: none;
    padding: 12px;
    margin: 50px 0px;
    background-color: rebeccapurple;
    border: 2px solid transparent;
    color: white;
    border-radius: 5px;
    transition: .3s all ease;
}
.text-container a:hover{
    background-color: transparent;
    color: black;
    border: 2px solid rebeccapurple;
}
@media screen and (max-width: 1600px){
    .about-container{
        width: 90%;
    }
    .image-container img{
        width: 400px;
        height: 400px;
    }
    .text-container h1{
        font-size: 50px;
    }
}
@media screen and (max-width: 1100px){
    .about-container{
        flex-direction: column;
    }
    .image-container img{
        width: 300px;
        height: 300px;
    }
    .text-container {
        align-items: center;
    }
}


#blog-section{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  background: linear-gradient(147deg,#f6b323 0%, #f23b26 74%);
}



.blog heading h1{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
  }
  .blog-card{
    position: absolute;
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    border-radius: 25px;
    background: white;
    box-shadow: 0px 10px 50px rgba(252,56,56,.3);
  }
  .inner-part{
    position: absolute;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
  }
  #imgTap:checked ~ .inner-part {
    padding: 0;
    transition: .1s ease-in;
  }
  .inner-part .img{
    height: 260px;
    width: 260px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(252,56,56,.1);
  }
  #imgTap:checked ~ .inner-part .img{
    height: 370px;
    width: 850px;
    z-index: 99;
    margin-top: 10px;
    transition: .3s .2s ease-in;
  }
  .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
  }
  #tap-1:checked ~ .inner-part .img-1,
  #tap-2:checked ~ .inner-part .img-2,
  #tap-3:checked ~ .inner-part .img-3{
    opacity: 1;
    transition-delay: .2s;
  }
  .blog{
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 50px;
    opacity: 0;
    transition: .6s;
  }
  #imgTap:checked ~ .inner-part .content{
    display: none;
  }
  #tap-1:checked ~ .inner-part .content-1,
  #tap-2:checked ~ .inner-part .content-2,
  #tap-3:checked ~ .inner-part .content-3{
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
  }
  .content span{
    display: block;
    color: #7b7992;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500
  }
  .content .title{
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }
  .content .text{
    color: #4e4a67;
    font-size: 19px;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
  }
  .inner-part button{
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid #fd3535;
    background: linear-gradient(147deg, #fe8a39  0%, #fd3838 74%);
  }
  .content button:hover{
    background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
  }
  .sliders{
    position: absolute;
    bottom: 25px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
  }
  #imgTap:checked ~ .sliders{
    display: none;
  }
  .sliders .tap{
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
  }
  .sliders .tap:hover{
    background: #cccccc;
  }
  .sliders .tap:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: linear-gradient(147deg,#f6b323 0%, #f23b26 74%);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
  }
  input[type="radio"],
  input[type="checkbox"]{
    display: none;
  }
  #tap-1:checked ~ .sliders .tap-1:before,
  #tap-2:checked ~ .sliders .tap-2:before,
  #tap-3:checked ~ .sliders .tap-3:before{
    transform: scaleX(1);
    width: 100%;
  }
  